<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro Pessoa</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" href="https://www.thymeleaf.org/images/thymeleaf.png">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<style>
	form input[type=submit] {
		color: white;
	}
</style>

<body>
	<h5>Cadastro de Pessoas</h5>
	<div class="row">
		<br/>
			<div th:each ="m: ${msg}">
				<span th:text="${m}"></span>
			</div>
		<br/>
		<div class="col s12">
			<form action="salvarpessoa" id="formpessoa" method="post" th:object="${pessoaobj}" class="col s12">
				<div class="row">
					<div class="input-fiel col s1 ">
						<label for="id">ID</label>
						<input name="id" th:field="*{id}" id="id" readonly="readonly">
					</div>
					<div class="input-fiel col s6 ">
						<label for="nome" class="active" >Nome:</label>
						<input name="nome" class="validate" id="nome" th:field="*{nome}" />
					</div>
				</div>
				<div class="row">
					<div class="input-fiel col s6 ">
						<label for="sobrenome" class="active" >Sobrenome:</label>
						<input name="sobrenome" class="validate" id="sobrenome" th:field="*{sobrenome}">
					</div>
					<div sec:authorize="hasAnyRole('ROLE_TECNICO')" class="input-fiel col s1">
						<label for="idade" class="active">Idade:</label>
						<input name="idade" id="idade" class="validate" th:field="*{idade}">
					</div>
				</div>
				<div class="row">
					<div class="input-field col s2">
						<i class="material-icons prefix">contact_phone</i>
						<input id="icon_telephone" type="tel" class="validate">
						<label for="icon_telephone">Telefone</label>
					</div>
				</div>
				<div class="row">
					<div class="input-fiel col s6 ">
						<input class="btn waves-effect waves-light" type="submit" value="Salvar" />
						<button class="btn waves-effect waves-light" onclick="document
						.getElementById('formpessoa')
						.reset();"
						>Novo</button>
					</div>
				</div>
			</form>
		</div>
	</div>
		<br />
		<br />
		<hr>
		
		<br />
		<br />
		<div class="row">
			<div class="col s12">
				<form action="pesquisapessoa" method="post">
					<div class="input-fiel col s6 ">
						<label for="nomepesquisa" class="active">Pesquisa por Nome</label>
						<input name="nomepesquisa" class="validate" id="nomepesquisa">
						<input class="btn waves-effect waves-light" type="submit" value="Buscar" />
						<a href="/listapessoas" class="btn waves-effect waves-light">Lista das Pessoas</a>
					</div>
				</form>
			</div>
		</div>
		<br />
		<br />
		<hr>
		<table class="striped">
			<thead>
				<tr>
					<th>Id:</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>Idade</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pessoa: ${pessoas}">
					<td th:text="${pessoa.id}"></td>
					<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text="${pessoa.nome}"></span></a></td>
					<td th:text="${pessoa.sobrenome}"></td>
					<td th:text="${pessoa.idade}"></td>
					<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}" >Editar</a></td>
					<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}" >Exluir</a></td>
				</tr>
			</tbody>
		</table>


		
</body>

</html>