<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cadastro Pessoa</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="icon" href="https://www.thymeleaf.org/images/thymeleaf.png">
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>
	form input[type=submit] {
		color: white;
	}
</style>

<body>
	<h5>Telefones</h5>
	<a class="btn waves-effect waves-light" href="/cadastropessoa">Cadastro Pessoa</a>
	<div th:each="p: ${pessoaobj}">
		<div class="row">
			<div>
				<p>ID: <span th:text="${p.id}"></span></p>
				<p>Nome: <span th:text="${p.nome}"></span></p>
				<p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
				<p>Idade: <span th:text="${p.idade}"></span></p>
			</div>
		</div>
	</div>
	<h5>Telefones</h5>
	<br />
	<div th:each="m: ${msg}">
		<span th:text="${m}"></span>
	</div>	
	<hr>
	<div class="row">
		<form th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post"
			onsubmit="return validarCampos()? true : false" class="col s10">
			<div class="row">
				<div class="input-field col s5">
					<i class="material-icons prefix">contact_phone</i>
					<label for="numero" class="active">Número</label>
					<input id="numero" name="numero" type="tel" class="validate">
				</div>
				<div class="input-field col s5">
					<label for="tipo" class="active">Tipo</label>
					<input id="tipo" name="tipo"  class="validate">
				</div>
			</div>
			<input type="submit" value="Adicionar" class="btn waves-effect waves-light">

		</form>
	</div>
	<table class="striped">
		<thead>
			<tr>
				<th>Número</th>
				<th>Tipo:</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="fone: ${telefones}">
				<td th:text="${fone.numero}"/>
				<td th:text="${fone.tipo}"/>
				<td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}">Exluir</a> </td>
			</tr>
		</tbody>
	</table>


	<script type="text/javascript">
		function validarCampos() {
				numero = document.getElementById('numero').value;
				tipo = document.getElementById('tipo').value;

				if (numero === '') {
					alert('Número deve ser informado!');
					return false;
				} else if (tipo === '') {
					alert('O Tipo deve ser informado!');
					return false;
				}
				return true;
			}
	</script>
	
</body>

</html>