<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" href="https://www.thymeleaf.org/images/thymeleaf.png">
	<title>Projeto Thymeleaf</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="/materialize.min.css" media="screen,projection" />

</head>

<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Projeto Thymeleaf</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/cadastropessoa">Cadastro Pessoa</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
	<h1>Olá Spring Boot!!</h1>
	




	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>